@{
    ViewBag.Title = "Apresentação";
}

<div class="jumbotron">
    <h2>Claudevan José da Silva</h2>
    
    <p>Está é uma aplicação de teste, criada para demonstrar meus conhecimentos utilizando tecnologias Microsoft e correlacionadas.</p>

    <h2>Como testar</h2>
    <p>Para testar está aplicação, basta no web.config alterar a ConectionString, 
        com sua configuração de banco de dados e rodar o comando Update-Database no projeto "CadastroPedidos.Entity"</p>
        
    <h2>Tecnologias Utilizadas</h2>
    <ul>
        <li>Code-First</li>
        <li>Repository Pattern</li>
        <li>Injeção de Dependência</li>
        <li>Unity Of Work</li>
        <li>Separação em Camadas (Básico do DDD)</li>
        <li>POO</li>
    </ul>

    <h2>Funcionalidades</h2>
    <ul>
        <li>Cadastro de Pedidos</li>
        <li>Inclusão e Remoção de Itens</li>
    </ul>

    <h2>Funcionalidades Faltantes</h2>
    <ul>
        <li>Pesquisa de Pedidos</li>
        <li>Alteração/Remoção de Pedidos</li>
        <li>Incluir o "https://datatables.net/" para que o grid contivesse paginação e ordenação</li>
        <li>Incluir o Toastr "http://codeseven.github.io/toastr/" para melhorar interação com o usuário</li>
        <li>Incluir o "https://bootstrap-datepicker.readthedocs.io/en/latest/#" para melhor seleção de datas</li>
        <li>Aplicar um style para melhorar a aparência da aplicação</li>
    </ul>
</div>

